<form [formGroup]="user">
  <div class="form-group">
    <label for="field-name">Username</label>
    <input type="text"
           class="form-control"
           id="field-name"
           placeholder="Enter username"
           autofocus
           formControlName="name"
           autocomplete="off">
  </div>
  <div class="form-group">
    <label for="field-email">Email</label>
    <input type="text"
           class="form-control"
           id="field-email"
           placeholder="Enter email"
           formControlName="email"
           autocomplete="off">
  </div>
</form>
